<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="lua" version="5.3.4" targetFramework="native" />
  <package id="lua.redist" version="5.3.4" targetFramework="native" />
  <package id="python" version="3.6.3" targetFramework="native" />
  <package id="pythonx86" version="3.6.3" targetFramework="native" />
  <package id="v8.redist-v141-x64" version="5.8.283.38" targetFramework="native" />
  <package id="v8.redist-v141-x86" version="5.8.283.38" targetFramework="native" />
  <package id="v8-v141-x64" version="5.8.283.38" targetFramework="native" />
  <package id="v8-v141-x86" version="5.8.283.38" targetFramework="native" />
</packages>